<% if request.excluded_shared_headers.any? %>
  <p>Note: Does <strong>not</strong> use these shared headers: <%= request.excluded_shared_headers.join(", ") %>.</p>
<% end %>

<%= f.fields_for :headers do |hf| %>
  <% @description.headers.each do |h| %>
    <% next if request.excluded_shared_headers.include?(h.name) %>

    <!--%= hf.label h.name, h.name %-->
    <!--%= raw " (<a class='shared-link' href='#shared-header-#{h.name}'>shared</a>)" %-->
    <%= hf.hidden_field h.name, class: "shared header", data: { name: h.name } %>
  <% end %>
<% end %>

<% if request.headers.any? %>
  <fieldset>
    <legend>Headers</legend>
    <%= f.fields_for :headers do |hf| %>
      <% request.headers.each do |h| %>
        <%= hf.label h.name, h.name + ":" %>
        <%= hf.text_field h.name %>
      <% end %>
    <% end %>
  </fieldset>
<% end %>
