<% return if headers.none? %>

<fieldset>
  <legend>Headers</legend>
  <%= f.fields_for :headers do |hf| %>
    <% headers.each do |h| %>
      <% if h.global %>
        <% if true %>
          <%= hf.label h.name, h.name %>
          <%= raw " (<a class='global-link' href='#global-header-#{h.name}'>global</a>)" %>
          <%= hf.hidden_field h.name, class: "global header", data: { name: h.name } %>
        <% end %>
      <% else %>
        <%= hf.label h.name, h.name + ":" %>
        <%= hf.text_field h.name %>
      <% end %>
    <% end %>
  <% end %>
</fieldset>
