<p>
  <% if p.type == :hash %>
    <fieldset>
      <legend><%= p.name %> {</legend>
      <div class="param-inputs">
        <%= render 'api_explorer/explorer/form/params', name: p.name, params: p.children, f: f %>
      </div>
      }
    </fieldset>
  <% else %>
    <%= f.label p.name, p.name + ":" %>

    <% if p.name == 'password' %>
      <%= f.password_field p.name, placeholder: p.type %>
    <% else %>
      <%= f.text_field p.name, placeholder: p.type %>
    <% end %>
  <% end %>
</p>
