<p>
  <% if p.type == :hash %>
    <fieldset>
      <legend><%= p.name %></legend>
      <%= render 'api_explorer/explorer/form/params', name: p.name, params: p.children, f: f %>
    </fieldset>
  <% else %>
    <%= f.label p.name, p.name + ":" %>

    <% if p.name == 'password' %>
      <%= f.password_field p.name %>
    <% else %>
      <%= f.text_field p.name %>
    <% end %>
  <% end %>
</p>
