<% if node.is_a?(ApiExplorer::Request) %>
  <p><a href="#node-<%= id %>"><%= node.title %></a>
<% else %>
  <p><a href="#node-<%= id %>"><%= node.title %></a>
  <div class="children">
    <% node.children.each_with_index do |ch, i| %>
      <%= render 'content_node', node: ch, id: "#{id}-#{i}" %>
    <% end %>
  </div>
<% end %>
