<div class="row request" id="node<%= id %>">
  <%= form_for :request, html: { class: "col-sm-6" } do |f| %>
    <%= f.hidden_field :method, value: req.method %>
    <%= f.hidden_field :path, value: req.full_path %>

    <%= f.fields_for :url_params do |pf| %>
      <h3>
        <%= req.method.to_s.upcase %>
        <% req.url_segments.each do |type, s| %>
          <% if type == :param %>
            <%= pf.text_field s, placeholder: ":#{s}" %>
          <% else %>
            <%= raw s %>
          <% end %>
        <% end %>
      </h3>
    <% end %>

    <div>
      <p><%= simple_format req.description %></p>

      <%= render 'api_explorer/explorer/form/headers', request: req, f: f %>
      <% if req.params.any? %>
        <fieldset>
          <legend>Parameters</legend>
          <%= render 'api_explorer/explorer/form/params', name: 'params', params: req.params, f: f %>
        </fieldset>
      <% end %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="col-sm-6 output">
    <p class="status"></p>
    <pre class="response hidden"></pre>
  </div>
</div>
