<script type="text/javascript">
  window.api_explorer_base_url = "<%= @description.base_url %>";
</script>

<%= stylesheet_link_tag    "api_explorer/application", media: "all" %>
<%= javascript_include_tag "api_explorer/application" %>

<div class="container">
  <ul class="contents">
    <% @description.children.each_with_index do |ch, i| %>
      <%= render 'content_node', node: ch, id: i %>
    <% end %>
  </ul>

  <%= render 'shared' %>
  <%= render 'node', node: @description, depth: 0 %>
</div>
