<script type="text/javascript">
  window.api_explorer_base_url = "<%= ApiExplorer.base_url %>";
</script>

<%= stylesheet_link_tag    "api_explorer/application", media: "all" %>
<%= javascript_include_tag "api_explorer/application" %>

<div class="container">
  <div class="contents">
    <% @description.requests.each_with_index do |req, i| %>
      <p><a href="#request-<%= i %>"><%= req.method.upcase %> <%= req.path %></a>
    <% end %>
  </div>

  <%= render 'shared' %>

  <% @description.requests.each_with_index do |req, i| %>
    <%= render 'request', req: req, id: i %>
  <% end %>
</div>
