<!DOCTYPE html>
<html>
<head>
  <title>ApiExplorer</title>
  <%= stylesheet_link_tag    "api_explorer/application", media: "all" %>
  <%= javascript_include_tag "api_explorer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
  window.api_explorer_base_url = "<%= ApiExplorer.base_url %>";
</script>

<%= yield %>

</body>
</html>
